<app-navbar></app-navbar>
<div class="container">
  <h1>Edit Offre Form</h1>
  <form #f="ngForm">

    <div class="form-group">
      <label>title_job:</label>
      <input type="text" name="title_job" class="form-control" [(ngModel)]="offre.title_job"
             #t="ngModel" required minlength="3" pattern="[a-zA-Z]+$">
    </div>
    <div class="alert alert-danger" *ngIf="t.touched && t.invalid">
      <div *ngIf="t.errors.required" >title is required</div>
      <div *ngIf="t.errors.minlength" >title minlength is 3</div>
      <div *ngIf="t.errors.pattern">message Pattern</div>
    </div>
    <div class="form-group">
      <label>Date Debut:</label>
      <input type="date" name="Date_start" class="form-control" [(ngModel)]="offre.Date_start" #q="ngModel" required>
    </div>
    <div class="alert alert-danger" *ngIf="q.touched && q.invalid">
      Date is required
    </div>
    <div class="form-group">
      <label>Date_end:</label>
      <input type="date" name="Date_end" class="form-control" [(ngModel)]="offre.Date_end" #c="ngModel" required>
    </div>
    <div class="alert alert-danger" *ngIf="c.touched && c.invalid">
      Date is required
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="number" class="form-control" [(ngModel)]="offre.email" #g="ngModel" required>
    </div>


    <button type="button" class="btn btn-success" [disabled]="f.invalid || q.value<0 " (click)="edit()">
      Edit
    </button>
  </form>
</div>
